= simple_form_for([:admin, @article]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :body
    = f.association :category, multiply: true
    = f.input :tag_list
    - if @article.file_contents.present?
      = image_tag(image_classified_path(@article), class: 'img-responsive')
    = f.input :file, as: :file


  .form-actions
    = f.button :submit
