%h1 Manage Admin Articles

%p= link_to 'Create New Article', new_admin_article_path, class: 'btn btn-primary'

%table.table
  %thead
    %tr
      %th title
      %th body
      %th Imagge

  %tbody
    - @articles.each do |admin_article|
      %tr
        %td= admin_article.title
        %td= truncate admin_article.body
        - unless admin_article.file_contents.blank?
          %td= image_tag(image_admin_article_path(admin_article), class: 'img-responsive')
        %td= link_to 'Show', admin_article
        %td= link_to 'Edit', edit_admin_article_path(admin_article)
        %td= link_to 'Destroy', admin_article_path(admin_article), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


