.well.well-sm
  %h2= link_to article.title, article, class: 'article_title'
  = link_to(image_tag(article.image.url(:large), class: 'thumbnail'), article)
  %p= sanitize truncate(article.body, length: 100)
  %p= article.user
  %p= time_ago_in_words(article.created_at)
  %small.comment_count= pluralize(article.comments.count, 'comment')
  %p
    %span.label.label-success= pluralize(article.get_upvotes.size, 'like')
    %span.label.label-danger= pluralize(article.get_downvotes.size, 'dislike')