.page-header
  %h1= @article.title
%p
  Tags:
  - @article.tags.each do |tag| 
    = link_to tag.name, tag_path(tag)
%p
  = image_tag @article.image.url, class: 'thumbnail'
%p
  = sanitize @article.body
%p
  %span.label.label-success= pluralize(@article.get_upvotes.size, 'like')
  %span.label.label-danger= pluralize(@article.get_downvotes.size, 'dislike')
%p.btn-group
  = link_to 'Like', like_article_path(@article), method: :get, class: 'btn btn-xs btn-primary'
  = link_to 'Dislike', dislike_article_path(@article), method: :get, class: 'btn btn-xs btn-danger'
  = link_to "Back", :back, class: 'btn btn-xs btn-warning'

%h3= "Comments #{@article.comments.size}"
= render @article.comments

%article
  %h3 Post a Comment
  = render 'comments/form', article: @article

