.page-header
  %h2 My Profile
%p
  %b First name:
  = @user.first_name
%p
  %b Last name:
  = @user.last_name
%p
  %b Email:
  = @user.email

= link_to 'Edit', edit_user_path(@user)

%hr

%article
%dl
  - @user.articles.each do |article|
    %dt= link_to article.title, article
    %dd= truncate(sanitize(article.body), length: 120)
