.well
  = form_tag search_path do 
    .input-group
      = text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search'
      %span.input-group-btn
        = submit_tag 'Go!', class: 'btn btn-primary'

.aside 
  %h3 Popular Tags
  %ul.breadcrumb 
    - all_tags.each do |tag|
      %li= link_to tag, tag

.aside
  %h4 Categories
  %ul.list-unstyled
    - Category.all.each do |c|
      %li= link_to c.name, c
%h3 Recent Post
%ul.nav
  -# recent_articles.each do |article|
  -# %li= link_to article.title, article
%h3 Poporlar Posts